<%= stylesheet_link_tag "chessground.base", :media => "all" %>
<%= stylesheet_link_tag "chessground.brown", :media => "all" %>
<%= stylesheet_link_tag "chessground.cburnett", :media => "all" %>

<div id='chess-board' class='h-96 w-96'>
</div>

<%= javascript_include_tag 'test' %>
