<h1 class='font-header text-5xl text-[#732a49] pb-10'> Our philosophy </h1>
    <div class='w-10/12 pl-5 font-paragraph text-zinc-700 text-justify'>
        Our philosophy is based on a few key features of a good training regime:
    <ul>
        <li class='font-paragraph text-zinc-700 pb-5'> Simplicity. Simple training plans are easier to write, adhere to, and track. </li>
        <li class='font-paragraph text-zinc-700 pb-5'> Consistency. A training plan is only effective if you stick to it. Outpost aims to make it as 
            easy as possible to stick to your plan - which brings us nicely to our next point. </li>
        <li class='font-paragraph text-zinc-700 pb-5'>
            Low friction. To maximise your chance of success, it's important to remove as many barriers as possible. 
        </li>
    </ul>
    <p class='font-paragraph text-zinc-700 pt-5'>
    To achieve this, Outpost comes out-of-the-box with everything you need to start your training plan immediately. 
    Just link your Lichess account, and Outpost will automatically generate a plan and start tracking your progress.
</p>
    </div>

